################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.vs/Compiler/v16/.suo
.vs
*.suo
*.user

bin/[Dd]ebug/
bin/[Rr]elease/
[Bb]in/
[Oo]bj/
x64/

